/*
Styles for older IE versions (previous to IE9).
*/

body {
	background-color: #e6e6e6;
}
body.custom-background-empty {
	background-color: #fff;
}
body.custom-background-empty .site,
body.custom-background-white .site {
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.ie .header-wrapper,
.ie .footer-wrapper {
	background: transparent url(header_bg.png) repeat top left;
}

.assistive-text,
.site .screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE7 */
}
/*.full-width .site-content {
	float: left;
	width: 77%;
}*/
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
}
.site-header {
	width: 960px;
	margin: 0 auto;
}
.toggle-buttons,
#submenu > a.toggler {
	display: none;
}
.site {
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	margin: 48px auto;
	width: 960px;
	overflow: hidden;
	padding: 0 40px;
}
#submenu {
	float: left;
	width: 23%;
}
.site-content {
	float: left;
	width: 54%;
}
body.template-front-page .site-content,
body.single-attachment .site-content,
body.full-width .site-content {
	width: 77%;
}
.widget-area {
	float: right;
	width: 23%;
}
.site-header h1,
.site-header h2 {
	text-align: left;
}
/*.site-header h1 {
	font-size: 26px;
	line-height: 1.846153846;
}*/

.main-navigation {
	width: 960px;
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	/*border-bottom: 1px solid #ededed;*/
	/*border-top: 1px solid #ededed;*/
	display: inline-block !important;
	text-align: left;
	width: 100%;
}
.main-navigation ul {
	margin: 0;
	text-indent: 0;
}
.main-navigation li a,
.main-navigation li {
	display: inline-block;
	text-decoration: none;
	z-index: 1001;
}
.ie7 .main-navigation li a,
.ie7 .main-navigation li {
	display: inline;
}
.main-navigation li a {
	/*border-bottom: 0;*/
	color: #6a6a6a;
	line-height: 3.692307692;
	text-transform: uppercase;
}
.main-navigation li a:hover, 
.main-navigation li ul li a:hover {
	background-color: #484;
	color: #000;
}
.main-navigation li {
	/*margin: 0 40px 0 0;*/
	position: relative;
}
.main-navigation li ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
}
.ie7 .main-navigation li ul {
	left: 0;
}
.main-navigation li ul ul,
.ie7 .main-navigation li ul ul {
	top: 0;
	left: 100%;
}
.main-navigation ul li:hover > ul {
	border-left: 0;
	display: block;
	z-index: 1000;
}
.main-navigation li ul li a {
	display: block;
	width: 180px;
	font-size: 13px;
	background-color: #437035;
	border-color: #3d6630;
	padding: 0 10px;
	border-bottom: 1px solid #3d6630;
}
.main-navigation li.wide ul li a {
	width: 280px;
}
.main-navigation ul.nav-menu > .current-menu-item > a, 
.main-navigation ul.nav-menu > .current-menu-ancestor > a, 
.main-navigation ul.nav-menu > .current_page_item > a, 
.main-navigation ul.nav-menu > .current_page_ancestor > a {
	color: #ffe;
	border-bottom: 2px solid #ffe;
	font-weight: normal;
	padding-bottom: 0;
}
.main-navigation .sub-menu .current-menu-item > a, 
.main-navigation .sub-menu .current-menu-ancestor > a, 
.main-navigation .sub-menu .current_page_item > a, 
.main-navigation .sub-menu .current_page_ancestor > a {
	color: #ffe;
	background-color: #484;
	font-weight: normal;
}
.menu-toggle {
	display: none;
}


ul.submenu li {
	padding-top: 10px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
}

ul.submenu li:first-child {
	padding-top: 0;
	border-top: none;
	margin-top: 0;
}

ul.submenu ul.sub-menu {
	padding-top: 10px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding-left: 15px;
	font-size: 90%;
}





.entry-header .entry-title {
	font-size: 22px;
}
#respond form input[type="text"] {
	width: 46.333333333%;
}
#respond form textarea.blog-textarea {
	width: 79.666666667%;
}
.template-front-page .site-content,
.template-front-page article {
	overflow: hidden;
}
.template-front-page.has-post-thumbnail article {
	float: left;
	width: 47.916666667%;
}
.entry-page-image {
	float: right;
	margin-bottom: 0;
	width: 47.916666667%;
}

.template-front-page .widget {
	width: 33.333333333%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
}

.template-front-page .widget-area .second .widget {
	width: 25%;
}

footer {
	width: 960px;
}

#footer-widgets .widget:first-child + .widget {
	float: right;
}

/* =RTL overrides for IE7 and IE8
-------------------------------------------------------------- */
.rtl .site-header h1,
.rtl .site-header h2 {
	text-align: right;
}
.rtl .widget-area,
.rtl .author-description {
	float: left;
}
.rtl .author-avatar,
.rtl .site-content {
	float: right;
}
.rtl .main-navigation ul.nav-menu,
.rtl .main-navigation div.nav-menu > ul {
	text-align: right;
}
.rtl .main-navigation ul li ul li,
.rtl .main-navigation ul li ul li ul li {
	margin-left: 40px;
	margin-right: auto;
}
.rtl .main-navigation li ul ul {
	position: absolute;
	bottom: 0;
	right: 100%;
	z-index: 1;
}
.ie7 .rtl .main-navigation li ul ul {
	position: absolute;
	bottom: 0;
	right: 100%;
	z-index: 1;
}
.ie7 .rtl .main-navigation ul li {
	z-index: 99;
}
.ie7 .rtl .main-navigation li ul {
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 1;
}
.ie7 .rtl .main-navigation li {
	margin-right: auto;
	margin-left: 40px;
}
.ie7 .rtl .main-navigation li ul ul ul {
	position: relative;
	z-index: 1;
}