

@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);



body {
	background-color: #999;
	background-image: url(images/bg.jpg);
	background-position: center top;
	background-repeat: repeat;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Kreon', serif;
}


/*****************************/
/* LINK COLOR
/*****************************/

a {
	color: #575;
}
a:hover,
.comments-link a:hover, 
.entry-meta a:hover,
footer[role="contentinfo"] a:hover,
.template-front-page .widget-area .widget li a:hover {
	color: #585;
}




.header-wrapper,
.footer-wrapper {
	background-color: #bdb69c;
	background-color: rgba(232,213,181, 0.8);
}

body .site {
	padding: 0;
	margin-top: 20px;
}

.site-header {
	padding-left: 10px;
	padding-right: 10px;
}

.site-header hgroup {
	display: inline-block;
	float: left;
}
.site-header hgroup:before {
	content: url("images/logo_icon_24.png");
	margin: 6px 4px -6px -20px;
	float: left;
}


.site-header h1,
.site-header h2 {
	color: white;
	display: inline;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
}

.site-header h2:before {
	content: "|";
	margin: 0 5px;
} 

.site-header h1 a, 
.site-header h2 a {
	color: #464;
}
.site-header h1 a:hover, 
.site-header h2 a:hover,
.widget-area .widget a:hover {
	color: #474;
}



/*****************************/
/* MENU
/*****************************/


.menu-wrapper {
	background-color: #464;
	/*background-color: rgba(55,138,29,0.70);*/
	/*margin-top: 20px;*/
}

.main-navigation {
	margin: 0 auto;
	max-width: 960px;
}

.main-navigation ul.nav-menu, 
.main-navigation div.nav-menu > ul {
	border: none;
}

.main-navigation li {
	margin-right: 10px;
}
.main-navigation li a {
	text-transform: none;
	color: #ffe;
	font-family: 'Kreon', serif;
	font-size: 14px;
	line-height: 2.2;
	padding: 0 10px;
	padding-bottom: 2px;
}
.main-navigation li a:hover, 
.main-navigation li ul li a:hover {
	color: white;
	background-color: #378a1d;
	background-color: #484;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.main-navigation .current-menu-item > a, 
.main-navigation .current-menu-ancestor > a, 
.main-navigation .current_page_item > a, 
.main-navigation .current_page_ancestor > a {
	color: #ffe;
	border-bottom: 2px solid #ffe;
	font-weight: normal;
	padding-bottom: 0;
}

.main-navigation .sub-menu .current-menu-item > a, 
.main-navigation .sub-menu .current-menu-ancestor > a, 
.main-navigation .sub-menu .current_page_item > a, 
.main-navigation .sub-menu .current_page_ancestor > a {
	border-bottom: none;
	padding-bottom: 2px;
	text-decoration: underline;
}
.main-navigation .current-menu-item > a:hover, 
.main-navigation .current-menu-ancestor > a:hover, 
.main-navigation .current_page_item > a:hover, 
.main-navigation .current_page_ancestor > a:hover {
	
}

.main-navigation .sub-menu {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	z-index: 100;
}
.main-navigation .sub-menu li {
	margin: 0;
}
.main-navigation li ul li a {
	font-size: 13px;
	background-color: #437035;
	border-color: #3d6630;
	padding: 0 10px;
}

.main-navigation li.wide ul li a {
	width: 280px;
}




@media screen and (min-width: 600px) {
	.site-header {
		padding-bottom: 0;
		margin: 0 auto;
		max-width: 960px; 
	}
}




/*****************************/
/* LANGUAGE
/*****************************/

header .lang-select {
	float: right;
	font-size: 12px;
}
header .lang-select li {
	display: inline;
	padding: 0 7px;
	border-right: 1px dotted #999;
}
header .lang-select li:last-child {
	border: none;
}
header .lang-select li a {
	background-position: 0 3px;
	text-decoration: none;
	color: #444;
	opacity: 0.6;
}
header .lang-select li a:hover {
	color: #000;
	opacity: 1;
}
header .lang-select li.active a {
	text-decoration: underline;
	font-weight: bold;
}


/*****************************/
/* SEARCHBAR
/*****************************/

#searchform {
	float: right;
	clear: right;
	margin: 10px 0;
	font-size: 12px;
}

#searchform input {
	padding: 3px 5px;
}

#searchform input#searchsubmit {
	padding: 3px 10px;
}



@media screen and (max-width: 599px) {
	.menu-toggle,
	.main-navigation ul.nav-menu.toggled-on {
		display: block;
	}
}


/*****************************/
/* MAIN/PAGE
/*****************************/


#main {
	padding: 10px;
}

#submenu,
#primary,
#secondary {
	padding: 10px 10px 10px;
	margin: 0;
	/*margin: 24px 0 0;*/
	/*margin: 1.714285714rem 0 0;*/
	box-sizing: border-box;
	/*background: url(images/pattern1.jpg) top center repeat-x;*/
}
#submenu,
#secondary {
	float: left;

}
#primary {
	float: left;

}

#submenu > *, 
#secondary > * {
	background-color: #eee;
	padding: 10px;
	font-size: 12px;
}



/*****************************/
/* SUBMENU
/*****************************/

#submenu > * {
	/*padding-bottom: 100px;*/
	/*border: 1px solid #e0e0e0;*/
}

ul.submenu li {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
ul.submenu li:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

ul.submenu a {
	text-decoration: none;
}

ul.submenu [class*="current"] > a {
	font-weight: bold;
}

ul.submenu ul.sub-menu {
	padding-top: 10px;
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding-left: 15px;
	font-size: 90%;
}


/*****************************/
/* PAGE CONTENTS
/*****************************/

.site-content article {
	padding-bottom: 0;
	margin-bottom: 60px;
	border: none;
}

.entry-content p, 
.entry-summary p, 
.comment-content p, 
.mu_register p {
	margin-bottom: 12px;
}

.entry-meta {
	font-size: 10px;
	color: #999;
	background-color: #EEE;
}
.entry-meta .entry-date {
	background-color: #fff;
	padding-right: 5px;
}

.site-content hr {
	margin: 0;
	height: 0;
	clear: both;
}



/*****************************/
/* WIDGETS
/*****************************/

.widget-area .widget {
	margin-bottom: 24px;
	/*margin-bottom: 1.714285714rem;*/
}
.widget-area .widget p, 
.widget-area .widget li, 
.widget-area .widget .textwidget {
	font-size: 12px;
	line-height: 1.5;
}

.widget-area .widget p {
	margin-bottom: 5px;
}

.widget-area .widget li {
	margin-bottom: 25px;
}

.widget-area .widget_recent_entries li strong:after {
	content: "–";
	padding: 5px;
}
.widget-area .widget_recent_entries li p {
	padding-left: 0;
}

/*****************************/
/* FRONTPAGE
/*****************************/


.template-front-page .site-content article {
}
.template-front-page .site-content article h1 {
	border-bottom: 8px solid #EEE;
}
.template-front-page .site-content footer.entry-meta {
	margin: 0;
}

.template-front-page #primary {
	padding-bottom: 0;
}

.home #primary,
.home #secondary {
	width: auto;
	float: none;
}


/*****************************/
/* FRONTPAGE WIDGETS
/*****************************/


.template-front-page #secondary {
	border: none;
	padding: 0;
	margin: 0 -10px -10px;
	border-color: #ccc;
}

.template-front-page #secondary > * {
	float: none;
	width: auto;
	margin: 0;
}

.template-front-page .widget-area .widget,
.template-front-page .widget-area .widget:nth-child(even){
	width: 33.333333333%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}

.template-front-page .widget-area .widget article {
	background-color: #DDD;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 60px 0 0;
}

.front-widgets article .fpw-page-title,
.front-widgets .widget p {
	margin: 0 !important;
	background-color: white;
	background-color: rgba(255,255,255,0.75);
}


.widget_fpw_widget .widget-title, 
.widget_fpw_widget .fpw-page-title {
	padding: 10px 10px 0;
	border-top: 1px solid #ccc;
}

.front-widgets .widget p {
	padding: 0 10px 5px;
	line-height: 21px;
}


/*****************************/
/* FRONTPAGE WIDGETS
/* first row
/*****************************/

.template-front-page #secondary .first {
	background: none;
	background-color: transparent;
	padding-top: 0;
}

.template-front-page .widget-area .first h3 {
	font-size: 14px;
}

.template-front-page .widget-area .first .widget.logo {
	text-align: center;
}
.template-front-page .widget-area .first .widget.logo img {
	border-radius: 0;
	box-shadow: none;
}


/*****************************/
/* FRONTPAGE WIDGETS
/* second row
/*****************************/

.template-front-page #secondary .second {
	padding-top: 20px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1) inset;
	border-top: 1px solid #ccc;
}

.template-front-page .widget-area .second .widget,
.template-front-page .widget-area .second .widget:nth-child(even) {
	width: 25%;
}

.template-front-page .widget-area .second img {
	display: none;
}

.front-widgets .widget.contact article {
	background: url(images/banner1_small.jpg) center center no-repeat;
}
.front-widgets .widget.nyheder article {
	background: url(images/banner2_small.jpg) center center no-repeat;
}
.front-widgets .widget.udstillinger article {
	background: url(images/banner3_small.jpg) center center no-repeat;
}
.front-widgets .widget.find-vej article {
	background: url(images/banner4_kort_small.jpg) center bottom no-repeat;
}





/*****************************/
/* FOOTER
/*****************************/

footer[role="contentinfo"] {
	border: none;
	padding: 10px 10px 200px;
}

footer[role="contentinfo"] > * {
	padding: 10px;
	box-sizing: border-box;
}



@media screen and (max-width: 599px) {
	#submenu,
	#secondary,
	#primary,
	body.template-front-page .site-content, 
	body.single-attachment .site-content, 
	body.full-width .site-content,
	.template-front-page .widget-area .widget, 
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page .widget-area .second .widget,
	.template-front-page .widget-area .second .widget:nth-child(even) {
		float: none;
		width: 100%;
	}

}


@media screen and (min-width: 599px) and (max-width: 768px) {
	#submenu,
	#secondary {
		width: 30%;
		clear: left;
	}

	#primary {
		float: right;
		width: 70%;
	}

	.template-front-page .widget-area .widget,
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page .widget-area .second .widget,
	.template-front-page .widget-area .second .widget:nth-child(even) {
		width: 50%;
	}

	.template-front-page .widget-area .first .widget.widget-last {
		width: 100%;
	}

}

@media screen and (min-width: 769px) {
	#submenu {
		float: left;
		width: 23%;
	}

	.site-content {		 
		width: 54%;
	}
	body.single-attachment .site-content, 
	body.full-width .site-content {
		width: 77%;
	}

	#secondary {
		float: right;
		width: 23%;
	}


}



