

@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);



body {
	background-color: #999;
	background-image: url(images/bg.jpg);
	background-position: center top;
	background-repeat: repeat;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Kreon', serif;
}

.header-wrapper,
.footer-wrapper {
	background-color: #bdb69c;
	background-color: rgba(232,213,181, 0.8);
}

body .site {
	padding: 0;
	margin-top: 20px;
}

.site-header {
	padding-left: 10px;
	padding-right: 10px;
}

.site-header hgroup {
	display: inline-block;
	float: left;
}

.site-header h1,
.site-header h2 {
	color: white;
	display: inline;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
}

.site-header h2:before {
	content: "|";
	margin: 0 5px;
} 

.menu-wrapper {
	background-color: #378a1d;
	background-color: rgba(55,138,29,0.70);
	margin-top: 20px;
}

.main-navigation {
	margin: 0 auto;
	max-width: 960px;
}

.main-navigation ul.nav-menu, 
.main-navigation div.nav-menu > ul {
	border: none;
}

.main-navigation li {
	margin-right: 10px;
}
.main-navigation li a {
	text-transform: none;
	color: #ffe;
	font-family: 'Kreon', serif;
	font-size: 16px;
	line-height: 2.2;
	padding: 0 10px;
	padding-bottom: 2px;
}
.main-navigation li a:hover, 
.main-navigation li ul li a:hover {
	color: white;
	background-color: #378a1d;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.main-navigation .current-menu-item > a, 
.main-navigation .current-menu-ancestor > a, 
.main-navigation .current_page_item > a, 
.main-navigation .current_page_ancestor > a {
	color: #ffe;
	border-bottom: 2px solid #ffe;
	font-weight: normal;
	padding-bottom: 0;
}
.main-navigation .sub-menu .current-menu-item > a, 
.main-navigation .sub-menu .current-menu-ancestor > a, 
.main-navigation .sub-menu .current_page_item > a, 
.main-navigation .sub-menu .current_page_ancestor > a {
	border-bottom: none;
	padding-bottom: 2px;
	text-decoration: underline;
}
.main-navigation .current-menu-item > a:hover, 
.main-navigation .current-menu-ancestor > a:hover, 
.main-navigation .current_page_item > a:hover, 
.main-navigation .current_page_ancestor > a:hover {
	
}

.main-navigation .sub-menu {
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.main-navigation .sub-menu li {
	margin: 0;
}
.main-navigation li ul li a {
	font-size: 14px;
	background-color: #437035;
	border-color: #3d6630;
	padding: 0 10px;
}




@media screen and (min-width: 600px) {
	.site-header {
		padding-bottom: 0;
		margin: 0 auto;
		max-width: 960px; 
	}
}

header .lang-select {
	float: right;
	font-size: 12px;
}
header .lang-select li {
	display: inline;
	padding: 0 7px;
	border-right: 1px dotted #999;
}
header .lang-select li:last-child {
	border: none;
}
header .lang-select li a {
	background-position: 0 3px;
	text-decoration: none;
	color: #444;
	opacity: 0.6;
}
header .lang-select li a:hover {
	color: #000;
	opacity: 1;
}
header .lang-select li.active a {
	text-decoration: underline;
	font-weight: bold;
}


#searchform {
	float: right;
	clear: right;
	margin: 10px 0;
}



@media screen and (max-width: 599px) {
	.menu-toggle,
	.main-navigation ul.nav-menu.toggled-on {
		display: block;
	}
}

#submenu,
#primary,
#secondary {
	padding: 10px;
	margin: 24px 0 0;
	margin: 1.714285714rem 0 0;
	box-sizing: border-box;
}
#submenu,
#secondary {
	float: left;

}
#primary {
	float: left;

}

ul.submenu {
	background-color: #eee;
	padding: 10px;
	font-size: 80%;
}

ul.submenu li {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
ul.submenu li:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

ul.submenu a {
	text-decoration: none;
}

ul.submenu .current-menu-item a:after {
	content: "···";
	float: right;
}

@media screen and (max-width: 599px) {
	#submenu,
	#secondary,
	#primary,
	body.template-front-page .site-content, 
	body.single-attachment .site-content, 
	body.full-width .site-content {
		float: none;
		width: auto;
	}

}
@media screen and (min-width: 599px) and (max-width: 768px) {
	#submenu,
	#secondary {
		width: 23%;
		clear: left;
	}
	#primary {
		float: right;
		width: 77%;
	}


}

@media screen and (min-width: 769px) {
	#submenu {
		float: left;
		width: 23%;
	}
	.site-content {		 
		width: 54%;
	}
	body.template-front-page .site-content, 
	body.single-attachment .site-content, 
	body.full-width .site-content {
		width: 77%;
	}
	#secondary {
		float: right;
		width: 23%;
	}
}


.home #primary,
.home #secondary {
	width: auto;
	float: none;
}


footer[role="contentinfo"] {
	border: none;
	padding-bottom: 200px;
}
